﻿
<script>
	$.getScript(path + "js/MainPage.js");
</script>

<div id="preencherComentario" class="ui-field-contain">
	
	<label for="txtComentario">Digite seu texto</label>
	<textarea name="txtComentario" id="txtComentario"></textarea>
</div>

<br/>
<br/>


<input type="button" id="btnMostrarComentario" name="btnMostrarComentario"
	value="Visualizar Comentario" onclick="currentPage.mostrarComentario();" class="ui-btn ui-btn-inline ui-corner-all" >

<input type="button" id="btnSobre" name="btnSobre" value="Sobre"
	onclick="currentPage.btnSobre();" class="ui-btn ui-btn-inline ui-corner-all ui-btn-b" />