 

<script>
	$.getScript(path + "js/PageAbout.js");
</script>


		<p> 
		Este foi um trabalho da disciplina MATC89, aplicações para dispositivos móveis, da Universidade Federal da Bahia.
		O trabalho consistiu em desenvolver um aplicativo híbrido, simples, que tivesse uma página com o edit text(nosso caso textarea)
		e tudo o que fosse digitado no campo, fosse mostrado em uma segunda página. Nossa equipe acabou ficando com a ferramenta <a href="http://www-03.ibm.com/software/products/en/mobilefirstplatform"> IBM Mobile First </a>
		A equipe foi composta pelos alunos: Ivanildo Araujo, Jadson Pimentel e Lucas Pereira.
		</p>

<input type="button" class="ui-btn ui-btn-inline ui-corner-all" value="Estado inicial" id="btnEstadoInicial" name="btnEstadoInicial" onclick="currentPage.btnPaginaInicial();"> 
