
<script>
	$.getScript(path + "js/MostrarComentario.js");
</script>

<div id="mostrarComentario">
	Nada foi preenchido 
</div>
<br />
<br />
<input type="button" id="btnVoltar" name="btnVoltar" value="Voltar" onclick="currentPage.voltar();" class="ui-btn ui-btn-inline ui-corner-all">